# Entorno virtual
venv/
.venv/

# Herramientas binarias (demasiado grandes para git)
Tesseract-OCR/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Variables de entorno
.env

.docx


# Tesseract binario (demasiado grande para git)
Tesseract-OCR/

# Streamlit config local
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
